<head>

</head>
<body>
    <div id="top_streams" class="top_streams">
        <h3>Streams</h3>
        {% for stream in json['streams']['data'] %}
            <div class="stream">
                {% for category in stream %}
                    <ul>
                        {{ category }} : {{ stream[category] }}
                    </ul>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    <div id="top_games" class="top_games">
        <h3>Games</h3>
        {% for game in json['games']['data'] %}
        <div class="stream">
            {% for category in game %}
            <ul>
                {{ category }} : {{ game[category] }}
            </ul>
            {% endfor %}
        </div>
        {% endfor %}
    </div>

</body>