<head>

</head>
<body>
    <div id="top_streams" class="top_streams">
        <h3>Streams</h3>
        {% for stream in streams['data'] %}
            <div class="stream">
                {% for category in stream %}
                    <ul>
                        {{ category }} : {{ stream[category] }}
                    </ul>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    <div id="top_games" class="top_games">
        <h3>Games</h3>
        {% for game in games['data'] %}
            <div class="stream">
                {% for category in game %}
                <ul>
                    {{ category }} : {{ game[category] }}
                </ul>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    {% if state %}
        <div id="follows" class="follows">
            <h3>Follows</h3>
            {% for page in follows %}
                {% for follow in follows[page] %}
                    <ul>
                        {{ page }} : {{ follow }}
                    </ul>
                {% endfor %}
            {% endfor %}
        </div>
    {% else %}
        <div id="follows" class=""follows">
            <h3>Please log in</h3>
        </div>
    {% endif %}

</body>