* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  background-color: #333;
  color: #fff;
}

a {
  color: #333;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.stream-card {
  background-color: #333;
  padding: 10px 10px 0 10px;
  color: #fff;
  position: relative;
  max-width: 25%;
  flex: 0 1 auto;
}

.stream-info-card {
  color: #fff;
  display: flex;
  flex-wrap: nowrap;
}

.stream-info-profile-box {
  overflow: hidden;
  width: 3rem;
}

.stream-info-profile-container {
  flex: 0 0 auto;
  margin-right: 5px;
}

.stream-info-profile-image {
  display: block;
  border-radius: 50%;
}

.stream-list {
  display: flex;
  flex-wrap: wrap;
}

.stream-overlay {
  position: absolute;
  top: 1rem;
  padding: 0 5px;
  border-radius: .5rem;
}

.stream-profile {
  border-radius: 50%;
  max-width: 20%;
  flex: 0 1 auto;
}

.status {
  left: 1rem;
  background-color: red;
}

.viewers {
  right: 1rem;
  background-color: grey;
}